.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 40px;
  border-bottom: 1px solid fade-out($black, 0.7);
}

.contacts__title {
  @include title();
}

.contacts__link {
  display: block;
  width: 60px;
  height: 50px;
  margin: 10px 30px;
  background: url('../../img/skype.svg') no-repeat center;
  background-size: contain;
  transition: opacity 0.2s ease;

  &--github {
    background-image: url('../../img/github.svg');
  }
  &--mail {
    background-image: url('../../img/mail.svg');
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
