.main-nav {
  position: fixed;
  z-index: 10;
  width: auto;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  background: fade-out($black, 0.2);
}

.main-nav__inner {
  @include inner();
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @include tablet {
    justify-content: flex-end;
  }
}

.main-nav__link {
  display: block;
  padding: 5px 0 3px;
  margin: 0 5px;
  font-family: $font-title;
  font-size: 0.95rem;
  line-height: 1;
  color: $white;
  text-transform: uppercase;
  white-space: nowrap;
  border-bottom: 1px solid lighten($blue, 40%);
  transition: all 0.3s ease;

  &:hover,
  &:focus {
    color: lighten($blue, 40%);
    border-color: $white;
  }

  &:active {
    color: $white;
    border-color: $white;
  }

  @include tablet {
    margin-left: 40px;
  }
}
