main.main-content
  section.about#about
    h2.about__title Обо мне
    p.about__description.
      Привет! Я&nbsp;&mdash; начинающий front-end разработчик, успешно законила программу интенсивов &laquo;Профессия Фронтенд-разработчик&raquo; от&nbsp;HTML Academy. В&nbsp;данный момент живу в&nbsp;г. Владимир и&nbsp;нахожусь в&nbsp;поиске интересных предложений для профессионального роста и&nbsp;развития в&nbsp;данной сфере. Готова к&nbsp;переезду в&nbsp;другой город.
    p.about__description Мои навыки:
    ul.about__list
      li.about__item.
        Верстка&nbsp;&mdash; являюсь сторонником красиво написанного кода как с&nbsp;точки зрения оформления, так и&nbsp;с&nbsp;точки зрения семантики. В&nbsp;работе стремлюсь осваивать новые технологии, использую методологию БЭМ, CSS препроцессоры LESS/SASS, HTML препроцессор Pug (Jade), автоматизацию/сборку проекта на&nbsp;Gulp.
      li.about__item.
        JavaScript&nbsp;&mdash; умею оживлять веб-страницы на&nbsp;ES5, стремлюсь искать оптимальные и&nbsp;лаконичные решения.
      li.about__item.
        Git&nbsp;&mdash; опыт работы с&nbsp;системой контроля версий git с&nbsp;использованием консоли.
      li.about__item.
        Photoshop&nbsp;&mdash; навыки работы, необходимые для верстки.
  section.portfolio#portfolio
    h2.portfolio__title Портфолио
    for project in projectList
      +project-card(project)
  article.education
    h2.education__title Профильное образование
    for curse in curses
      +education-info(curse)
  article.contacts#contacts
    h2.contacts__title Контакты:
    for contact in contacts
      +contact-link(contact)
