header.header
  nav.main-nav
    div.main-nav__inner
      for link in links
        a.main-nav__link(href=link.address)= link.name
  h1.header__title Наталья Ильина
    span Junior Front-end Developer
