-
  var contacts = [
    {
      className: "contacts__link--skype",
      name: "Skype",
      link: "skype:ellianta-21?chat"
    },
    {
      className: "contacts__link--github",
      name: "github",
      link: "https://github.com/NataliaIlina"
    },
    {
      className: "contacts__link--mail",
      name: "e-mail",
      link: "mailto:ilina.ns@yandex.ru"
    }
  ]

-
  var curses = [
    {
      className: "education__info--html",
      name: "Профессиональный HTML и CSS, уровень 1",
      link: "https://assets.htmlacademy.ru/certificates/intensive/43/38944.pdf"
    },
    {
      className: "education__info--adaptive",
      name: "Профессиональный HTML и CSS, уровень 2",
      link: "https://assets.htmlacademy.ru/certificates/intensive/47/38944.pdf"
    },
    {
      className: "education__info--javascript",
      name: "Профессиональный JavaScript, уровень 1",
      link: "https://assets.htmlacademy.ru/certificates/intensive/55/38944.pdf"
    },
    {
      className: "education__info--ecmascript",
      name: "Профессиональный JavaScript, уровень 2",
      link: "https://assets.htmlacademy.ru/certificates/intensive/69/38944.pdf"
    }
  ]

-
  var links = [
    {
      name: "Обо мне",
      address: "#about"
    },
    {
      name: "Портфолио",
      address: "#portfolio"
    },
    {
      name: "Контакты" ,
      address: "#contacts"
    }
  ]

-
  var projectList = [
    {
      name: "keksobooking",
      protect: true,
      features: ["ES5", "Ajax", "Drag'n'Drop", "Templates", "Accessibility", "Validation", "ESLint"],
      description: "Одностраничное приложение для размещения объявлений об аренде недвижимости. Использована шаблонизация, валидация формы, технология Ajax, реализована фильтрация объявлений по выбранным параментрам.",
      intensive: "javascript",
      intensiveTitle: "Профессиональный JavaScript, уровень 1"
    },
    {
      name: "kekstagram",
      features: ["ES5", "Ajax", "Drag'n'Drop", "Templates", "Accessibility", "Validation", "ESLint"],
      description: "Одностраничное приложение по загрузке и форматированию фотографий на чистом JavaScript. Использована шаблонизация, валидация формы, технология Ajax, реализована сортировка фотографий по выбранному значению.",
      intensive: "javascript",
      intensiveTitle: "Профессиональный JavaScript, уровень 1"
    },
    {
      name: "mishka",
      protect: true,
      features: ["HTML5", "CSS3", "Adaptive layout", "БЭМ", "Flex-box", "Accessibility", "Less", "Gulp", "WebP", "SVG", "Retina", "StyleLint", "Pixel-perfect"],
      description: "Адаптивная сетка, верстка с использованием flex-box, доступность (все интерактивные элементы доступны при использовании клавиатуры), кроссбраузерность (в т. ч. IE11). Реализованы слайдер и открытие модальных окон на JavaScript. Выполнена ретинизация и оптимизация изображений, использован SVG-спрайт.",
      intensive: "adaptive",
      intensiveTitle: "Профессиональный HTML и CSS, уровень 2"
    },
    {
      name: "pink",
      features: ["HTML5", "CSS3", "Adaptive layout", "БЭМ", "Flex-box", "Accessibility", "Less", "Gulp", "WebP", "SVG", "Retina", "StyleLint", "Pixel-perfect"],
      description: "Адаптивная сетка, верстка с использованием flex-box, доступность (все интерактивные элементы доступны при использовании клавиатуры), кроссбраузерность (в т. ч. IE11). Выполнена ретинизация и оптимизация изображений, использован SVG-спрайт.",
      intensive: "adaptive",
      intensiveTitle: "Профессиональный HTML и CSS, уровень 2"
    },
    {
      name: "device",
      protect: true,
      features: ["HTML5", "CSS3", "БЭМ", "Flex-box", "Accessibility", "Less", "Gulp", "SVG", "Pixel-perfect"],
      description: "Фиксированная сетка, верстка с использованием flex-box, доступность (все интерактивные элементы доступны при использовании клавиатуры), кроссбраузерность (в т. ч. IE11). Реализованы 2 слайдера на CSS и открытие модальных окон на JavaScript.",
      intensive: "htmlcss",
      intensiveTitle: "Профессиональный HTML и CSS, уровень 1"
    },
    {
      name: "nerds",
      features: ["HTML5", "CSS3", "БЭМ", "Flex-box", "Accessibility", "Less", "Gulp", "SVG", "Pixel-perfect"],
      description: "Фиксированная сетка, flex-box, доступность, кроссбраузерность (в т.ч. IE11). Реализованы слайдер на CSS и открытие модальных окон на JavaScript.",
      intensive: "htmlcss",
      intensiveTitle: "Профессиональный HTML и CSS, уровень 1"
    },
    {
      name: "barbershop",
      features: ["HTML5", "CSS3", "БЭМ", "Flex-box", "Accessibility", "Less", "Gulp", "SVG", "Pixel-perfect"],
      description: "Фиксированная сетка, flex-box, доступность, кроссбраузерность (в т. ч. IE11). Реализовано открытие модальных окон на JavaScript.",
      intensive: "htmlcss",
      intensiveTitle: "Профессиональный HTML и CSS, уровень 1"
    }
  ]
